
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


  body {
    background-image: url(https://i.pinimg.com/564x/12/cd/b6/12cdb66b40c6132edd159dda4c855f91.jpg);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    background-size:100% 100%;
    
    min-height: 100vh;
    position: relative;
    font-family: "josefin sans";
   
  
}

/* body{
  background-image: url(./assets/asset.jpg) no-repeat center center/cover;
  min-height: 100vh;
  position: relative;
  font-family: "josefin sans";
} */

body::before{
position: absolute;
content: "";
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.5);
z-index: -1;
}

a{
  text-decoration: none;
}

header{
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.container{
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.container nav{
  display: flex;
  justify-content: space-between;
align-items: center;
}

.container nav .logo{
  color: black;
  font-size: 1.2rem;
  cursor: pointer;
}

.container .nav-link{
  display: flex;
}

.container .nav-link li{
list-style: none;
margin: 0 0.5rem;
}

.container ul li a{
  color: #212a21;
  font-size: 1.3rem;
  padding: 0.7rem 1rem;
  display: block;
  border-radius: 10px;
}